body {
background: #0E0F0D;
}
#videoDisplay {
	margin: auto;
	width: 820px;
	height: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#vid1, #vid2 {
	max-width: 720px;
	height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#vid1 {
	opacity: 0.7;
}
#vid2 {
	opacity: 0.7;
}

.control-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding: 8px;
  decoration: none;
  border: none;
}
.btn-fast,
.btn-slow {
  border-radius: 32px;
  border-style: none;
  background-color: #1C5A9C;
  outline: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  font-size: 32px;
}

.btn-fast .btn-slow:active {
  opacity: 0.6;
}
.btn-fast .btn-slow:hover {
  background-color: #c1cc47;
}

.btn-fast {
  color: #00b530;
  padding-left: 4px;
}
.btn-slow {
  color: #bf0000;
  padding-right: 2px;
}

.speed-display {
  color: #DDE8F0;
  font-family: Verdana, Arial;
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
  margin: 4px;
}
