.ctr {
	z-index: -10;
}

body {
  background: #0e0f0d;
	color: #E9F0F2;
	z-index: 0;
}
#videoDisplay {
	z-index: 0;
  margin: auto;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.instructions {
	text-align: center;
	z-index: 20;
	max-width: 100%;
  height: auto;
	position: absolute;
	left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
	font-size: 60px;
}
video {
  width: 48px;
  height: 36px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
	visibility: hidden;
}
#vid1 {
	z-index: 0;
}
#vid2 {
	z-index: 10;
}
#vid1 {
  opacity: 1;
}
#vid2 {
  opacity: 1;
}
.sliders {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.speed-sliders {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.opacity-sliders {
  display: flex;
  flex-direction: column;
  align-items: right;
}
#speedSlider-1,
#speedSlider-2,
#opacitySlider-1,
#opacitySlider-2 {
  width: 240px;
  outline: none;
  border: none;
}

.control-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding: 8px;
  outline: none;
  border: none;
}
.btn {
  border-radius: 32px;
  border-style: none;
  background-color: #1c5a9c;
  outline: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 18px;
}
.btn-grow, .btn-shrink {
	font-size: 10px;
	color: #fefefe;
}

.btn:active {
  opacity: 0.6;
}
.btn:hover {
  background-color: #c1cc47;
}

.btn-fast, .btn-swap-z, .btn-swap-s, .btn-blastoff {
  color: #00b530;
  padding-left: 4px;
}
.btn-slow {
  color: #bf0000;
  padding-right: 2px;
}
.speedDisplays {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.speed-display-1,
.speed-display-2 {
  color: #dde8f0;
  font-family: Verdana, Arial;
  font-weight: 400;
  font-size: 12px;
  padding: 4px;
  margin: 4px;
}

@media only screen and (max-width: 700px) {
  #vid1,
  #vid2 {
    width: 360px;
    height: 270px;
  }
}
@media only screen and (max-height: 600px) {
  #vid1,
  #vid2 {
    width: 360px;
    height: 270px;
  }
}

span {
	opacity: 0;
}

input[type=range]:focus::-ms-fill-lower {
  background: #7dd199;
}
input[type=range]:focus::-ms-fill-upper {
  background: #7dd199;
}

input[type=range]::-ms-fill-lower {
  background: #7dd199;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #7dd199;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 0px #a7bbcf;
  border: 1px solid #3530ba;
  height: 16px;
  width: 16px;
  border-radius: 7px;
  background: #e8ffe6;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #7dd199;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 0px #a7bbcf;
  border: 1px solid #3530ba;
  height: 16px;
  width: 16px;
  border-radius: 7px;
  background: #e8ffe6;
  cursor: pointer;
}

input[type=range] {
  height: 6px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #7dd199;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 0px #a7bbcf;
  border: 1px solid #3530ba;
  height: 16px;
  width: 16px;
  border-radius: 7px;
  background: #e8ffe6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
